<section>
    <h2>Dogs</h2>
    <ul class="dogs-list">
        <li class="dogs-item">
            <img src="./img/dogs/images (1).jpeg" alt="">
            <h3>Dog one</h3>
        </li>
        <li class="dogs-item">
            <img src="./img/dogs/images (2).jpeg" alt="">
            <h3>Dog one</h3>
        </li>
        <li class="dogs-item">
            <img src="./img/dogs/images 3.jpeg" alt="">
            <h3>Dog one</h3>
        </li>
        <li class="dogs-item">
            <img src="./img/dogs/images.jpeg" alt="">
            <h3>Dog one</h3>
        </li>
        <li class="dogs-item">
            <img src="./img/dogs/Maltese-dog.webp" alt="">
            <h3>Dog one</h3>
        </li>
        <li class="dogs-item">
            <img src="./img/dogs/puppy-2785074__340.jpeg" alt="">
            <h3>Dog one</h3>
        </li>
    </ul>
</section>  